body {
  font-size: 2rem;
  font-family: sans-serif;
  text-align: center;
  text-wrap: nowrap;
}

.description-text {
  font-size: 1.1rem;
}
.mat {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.domain {
  display: none;
}
.tooltip {
  position: absolute;
  background-color: rgba(243, 250, 246, 0.8);
  font-size: 12px;
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
  pointer-events: none;
}
